$headerheight: 70px;

// ========================================
// Colors
// ========================================
$black	    : #121212;
$white 	    : #FFFFFF;
$grey       : #e0e0e0;
$darkgrey   : #838383;
$gold       : #fed631;

// ========================================
// Screen sizes
// ========================================
$mobile  :		480px; 
$tablet  :		769px; 
$desktop : 		1000px; 
$fullhd  :		1384px; 